* {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: "Noto Sans Japanese", sans-serif;
	color: #111111;
	overflow: hidden;
}
#tools {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 230px;
	height: 100px;
	background-color: #268fc7;
	z-index: 100;
}
#order {
	position: absolute;
	top: 10px;	
	left: 20px;
	width: 200px;
	border: 1px solid #268fc7;
	font-size: 16px;
}
#filter {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 200px;
	height: 30px;
	padding: 4px 10px;
	border: 1px solid #268fc7;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-webkit-box-sizing: border-box;
}
#feeds {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	height: 100%;
	background-color: #268fc7;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 90;
	-webkit-overflow-scrolling: touch;
}
#feeds ul {
	margin: 100px 0 20px;
	list-style-type: none;
}
#feeds ul li {
	margin: 0 10px 0 0;
	padding: 6px 4px 6px 10px;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	-webkit-border-radius: 0 4px 4px 0;
}
#feeds ul li img {
	width: 16px;
	height: 16px;
	padding: 0 4px 0 0;
}
#items {
	padding: 20px 20px 20px 260px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#items ul {
	list-style-type: none;
}
#items ul li {
	margin: 6px 0;
	padding: 6px 4px;
	border-bottom: 1px solid #dddddd;
	color: #3d3c40;
	font-size: 14px;
}
#items ul li.haspin {
	background: url("../image/pin.png") no-repeat right top 20px;
}
.ReactModal__Overlay {
	z-index: 999;
}