* {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans Japanese', sans-serif;
	color: #111111;
	overflow: hidden;
}
#progressbar {
	position: fixed;
	top: 0px;
	left: 0px;
	max-width: 100%;
	height: 4px;
	background-color: #0074d9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	transition-delay: 0s, 0s;
	transition-duration: 0.4s, 0.4s;
	transition-property: width, background-color;
	transition-timing-function: ease, ease;
	z-index: 1001
}
#wrapper {
	display: flex;
}
#sidebar {
	width: 240px;
	-webkit-user-select: none;
}
#tools {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 240px;
	height: 100px;
	background-color: #268fc7;
	z-index: 100;
}
#order {
	position: absolute;
	bottom: 60px;
	left: 20px;
	width: 200px;
	border: 1px solid #268fc7;
	font-size: 16px;
}
#filter {
	position: absolute;
	bottom: 20px;
	left: 20px;
	width: 200px;
	height: 30px;
	padding: 4px 10px;
	border: 1px solid #268fc7;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-webkit-box-sizing: border-box;
}
#feeds {
	position: fixed;
	top: 130px;
	bottom: 0;
	left: 0;
	width: 240px;
	background-color: #268fc7;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 90;
	-webkit-overflow-scrolling: touch;
}
#feeds ul {
	margin: 0 0 20px;
	list-style-type: none;
}
#feeds ul li {
	display: flex;
	margin: 0 8px 0 0;
	padding: 6px 4px 6px 10px;
	cursor: pointer;
	-webkit-border-radius: 0 4px 4px 0;
}
#feeds ul li img {
	width: 16px;
	height: 16px;
	margin: 2px 6px 0 0;
}
#feeds ul li .feed {
	flex: 1;
	color: #ffffff;
	font-size: 12px;
}
#feeds ul li .feed-zero {
	color: #7fdbff;
}
#feeds ul li .badge {
	display: inline-block;
	max-width: 18px;
	min-width: 8px;
	height: 16px;
	margin: 0 0 0 6px;
	padding: 2px 6px;
	background-color: #ffffff;
	border-radius: 10px;
	color: #268fc7;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
}
#feeds ul li .badge-zero {
	background-color: #7fdbff;
}
#content {
	flex: 1;
}
#items {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 240px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#items ul {
	list-style-type: none;
}
#items ul li {
	margin: 6px 0;
	padding: 10px 20px;
	border-bottom: 1px solid #dddddd;
	color: #3d3c40;
	font-size: 14px;
}
#items ul li.haspin {
	background: url('../image/pin.png') no-repeat right top 20px;
}
#help {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-color: rgba(0, 30, 64, 0.9);
	color: #ffffff;
	z-index: 1000;
}
#help table {
	width: 100%;
	height: 100%;
}
#help td {
	width: 25%;
	height: 33%;
}
#help .description {
	display: inline-block;
	width: 75%;
	font-size: 14px;
	text-align: right;
}
#help .shortcut {
	display: inline-block;
	width: 20%;
	text-align: left;
}
#help .shortcut .keybord {
	display: inline-block;
	padding: 3px 5px;
	background-color: #fcfcfc;
	border: solid 1px #cccccc;
	border-bottom-color: #bbbbbb;
	border-radius: 3px;
	vertical-align: middle;
	font-size: 16px;
	color: #555555;
	box-shadow: inset 0 -1px 0 #bbbbbb;
}
.ReactModal__Overlay {
	z-index: 999;
}
#feeds::-webkit-scrollbar,
#items::-webkit-scrollbar {
	width: 8px;
}
#feeds::-webkit-scrollbar-track,
#items::-webkit-scrollbar-track {
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
#feeds::-webkit-scrollbar-thumb,
#items::-webkit-scrollbar-thumb {
	background: rgba(0, 31, 63, 0.8);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
#feeds::-webkit-scrollbar-thumb:window-inactive,
#items::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 116, 217, 0.8);
}